#top_nav{
  background-color: $background_color_1;
  height: 55px;
  margin-bottom: 0px;
  border-bottom-width: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;

  .navbar-nav{
    li{

      a{
        color: $text_color_1;
        font-weight: 600;
        padding-left: 10px;
        padding-right: 10px;
      }

      a:hover{
        color: $text_color_2;
      }
    }
  }
}

.flash{
  padding-top: 40px;
}
